In [1]:
###example https://www.mlq.ai/fine-tuning-gpt-3-recommendations/###

In [2]:
# imports
import pandas as pd
import openai
import numpy as np
from typing import List
import ast
from openai.embeddings_utils import distances_from_embeddings, indices_of_nearest_neighbors_from_distances

In [3]:
users = pd.read_csv("embeddings/users_emb_final.csv") #document with user interactions
users.columns =['User', 'ID', 'Interactions_emb']
users.head()

,User,ID,Interactions_emb
0,U244,N17157 N38621 N35022 N50578 N264 N9120 N23907 ...,"[-0.005149974951877837, -0.013250857458654631,..."
1,U68369,N19381 N54536,"[0.0025621717686590273, 0.004183989018201828, ..."
2,U50236,N4020 N44292 N50292 N40772 N57737 N33969 N4054...,"[-0.010138329240492436, -0.01179651383115145, ..."
3,U77060,N23105 N41375,"[-0.005568941123783588, -0.025914330035448074,..."
4,U5596,N459 N56253 N62931 N55846 N29849 N45729 N62834...,"[-0.012533644353970886, -0.011675744312297967,..."

In [4]:
news = pd.read_csv("embeddings/news_emb_final.csv") #document with user interactions
news.head()

,ID,Category,SubCategory,Content,Content_emb
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","[0.005885085556656122, -0.007782096974551678, ..."
1,N19639,health,weightloss,50 Worst Habits For Belly Fat These seemingly ...,"[-0.004876355174928904, -0.007969613187015057,..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,"[-0.02760046347975731, -0.013719998300075531, ..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"[-0.0297758337110281, -0.014837449416518211, 0..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","[0.005073545966297388, 0.004160495940595865, 0..."

In [5]:
news.columns =['ID', 'Category', 'SubCategory', 'Content', 'Content_emb']
news_dict = news.set_index('ID').to_dict(orient='index')

In [7]:
# Create a dictionary with user interactions
user_dict = {}
for index, row in users.iterrows():
    user = row['User']
    interactions = row['Interactions_emb']
    user_dict[user] = ('Content', interactions)

for user, (content, embeddings_str) in user_dict.items():
    # Check for empty string before converting to float
    embeddings_list = [float(value) if value.strip() else 0.0 for value in embeddings_str.strip('[]').split(',')]
    user_dict[user] = (content, embeddings_list)

In [8]:
# Create a dictionary with news articles
news_dictionary = news.set_index('ID').to_dict(orient='index')
# Function to transform values from string to appropriate data types and format as tuples
def transform_values_to_tuples(data_dict):
    for key, value in data_dict.items():
        for sub_key, sub_value in value.items():
            # Convert the value to a list of floats if it's a string
            if isinstance(sub_value, str):
                try:
                    data_dict[key][sub_key] = ast.literal_eval(sub_value)
                except (ValueError, SyntaxError):
                    # If literal_eval fails (e.g., the value is not a valid Python literal),
                    # keep the value as a string (or you can handle it differently if needed)
                    pass
        data_dict[key] = (
            ('Category', data_dict[key]['Category']),
            ('SubCategory', data_dict[key]['SubCategory']),
            ('Content_emb', data_dict[key]['Content_emb'])
        )

# Transform values to tuples for the entire dictionary
transform_values_to_tuples(news_dictionary)

In [11]:
#create list with interacted items for a particular user
def user_list(user_id, df):
    user_list = df.loc[df['User'] == user_id, 'ID'].tolist()
    if len(user_list) > 0:
        return user_list[0].split()
    else:
        return []

In [12]:
def print_recommendations_for_user(
    user_id: str,
    users_dict: dict,
    news_dictionary: dict
) -> pd.DataFrame:
    """Get the nearest neighbors for a particular user based on article embeddings."""
    
    # Your code to get user's embeddings
    user_articles_embeddings = users_dict[user_id][1]
    user_embeddings_np = np.array(user_articles_embeddings)
    user_embeddings = user_embeddings_np.tolist()
    
    content_dictionary = []
    for key in news_dictionary.keys():
        content_dictionary.append(news_dictionary[key][2][1])
    
    # Your code to calculate distances
    distances = distances_from_embeddings(user_embeddings, content_dictionary, distance_metric="cosine")
    # Your code to get indices of nearest neighbors
    indices_of_nearest_neighbors = indices_of_nearest_neighbors_from_distances(distances)
    
    # Initialize lists to store data
    selected_keys = []
    selected_distances = []
    
    # Populate the lists with selected keys and distances
    for i in indices_of_nearest_neighbors:
        keys_list = list(news_dictionary.keys())
        selected_key = keys_list[i]
        if selected_key not in user_list(user_id, users):
            selected_keys.append(selected_key)
            selected_distances.append(distances[i])
    
    # Create a DataFrame with 'ID' and 'distances' columns
    result_df = pd.DataFrame({'ID': selected_keys, 'distance': selected_distances})
    
    return result_df

In [13]:
# Example usage
user_id = "U244"  # Specify the user ID for which you want to generate recommendations

recommendations = print_recommendations_for_user(
    user_id=user_id,
    users_dict=user_dict,
    news_dictionary = news_dictionary
)

In [14]:
recommendations

           ID  distance
0      N48527  0.118315
1       N2803  0.118324
2      N64188  0.119425
3      N31422  0.121571
4      N33247  0.122246
...       ...       ...
51248   N2242  0.999436
51249   N9846  1.003625
51250  N63770  1.009205
51251   N6175  1.009866
51252  N33653  1.031363

[51253 rows x 2 columns]

In [12]:
content_recommender = pd.merge(recommendations, news, on='ID', how='left')
content_recommender = content_recommender.drop(['Content_emb'], axis=1)

In [13]:
content_recommender.head()

,ID,distance,Category,SubCategory,Content
0,N51188,0.116120,sports,baseball_mlb_videos,ALCS Game 6 Highlights: Yankees vs. Astros Aft...
1,N62846,0.141740,sports,baseball_mlb,"Nationals win first World Series title, stormi..."
2,N12603,0.147599,sports,more_sports,"Astros beat Yankees, will face Nationals in Wo..."
3,N41777,0.157279,sports,baseball_mlb,Kate Upton was so fired up after the Astros' b...
4,N56541,0.159829,sports,baseball_mlb,"Soto, Nationals edge Astros in World Series op..."

In [14]:
#content_recommender.to_csv('content_test.csv', index= False)

Saving recommendations for each user

In [15]:
# Assuming you have a DataFrame named 'users' with a 'User' column
users_list = users['User'].unique().tolist()

# Print the resulting list
print(users_list)

['U10045', 'U1111', 'U11306', 'U13000', 'U13740', 'U14000', 'U15000', 'U17841', 'U19739', 'U29155', 'U34670', 'U38627', 'U46596', 'U53231', 'U63162', 'U73700', 'U79199', 'U8125', 'U8312', 'U8355', 'U89744', 'U91836', 'U92486']

In [16]:
for i in users_list:
    # Example usage
    user_id = i  # Specify the user ID for which you want to generate recommendations

    recommendations = print_recommendations_for_user(
        user_id=user_id,
        users_dict=user_dict,
        news_dictionary = news_dictionary
    )
    
    recommendations.to_csv('content_recommendations/' + i + '_cont.csv', index= False)